* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover i {
  transform: scale(1.1);
  color: red;
}

.entire-field {
  background: url("carrot/img/background.png") center/cover no-repeat;
  width: 950px;
  height: 600px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding-top: 15px;
  transition: all 0.3s ease;
}

.start-btn {
  border: 5px solid black;
  width: 60px;
  height: 60px;
  background-color: beige;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  padding-top: 4px;

  transform: all 0.5s ease-in;
}

.timer {
  border: black 5px solid;
  text-align: center;
  width: 160px;
  height: 55px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  font-size: 45px;
  line-height: 55px;
}

.count {
  border: black 5px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: pink;
  color: white;
  font-size: 50px;
  line-height: 80px;
}

.game-field {
  position: relative;
  text-align: center;
  width: 88%;
  height: 170px;
  margin: auto;
}

.pop-up {
  position: relative;
  z-index: 1;
  background-color: rgb(43, 33, 33);
  width: 60%;
  height: 200px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  font-size: 50px;
  padding-top: 35px;
  opacity: 0.8;
}

.hidden {
  display: none;
}

.replay-btn {
  border: 5px solid black;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-color: beige;
  padding-top: 5px;
}
.pop-up-msg {
  color: white;
}
.carrot,
.bug {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 750px) {
  .entire-field {
    width: 600px;
    height: 500px;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .count {
    margin-bottom: 20px;
  }
  .game-field {
    margin: auto;
    width: 75%;
  }
}
